.page-header {
    background: #fff;
    border-top: 4px solid transparent;
    border-image: linear-gradient(to right, $header-border-color, $header-border-color-secondary);
    border-image-slice: 1;
}

.top-bar {
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);

    @include large {
        padding: 1rem 6rem;
    }

    @include medium {
        padding: 1rem 4rem;
    }

    @include small {
        padding: 1rem 1rem;
    }
}

.page-header-content {
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    @include small {
        flex-direction: column;
    }

    &.banner {
        display: flex;
        flex-direction: column;
    }
}

.banner {
    &:after {
        content: "";
        position: relative;
        align-self: center;
        height: 4px;
        width: 60%;
        max-width: 12rem;
        background: linear-gradient(to right, $theme-dark-red-color, $theme-light-red-color);
    }

    .project-name {
        font-size: 8rem;
        height: 8rem;
        width: 36rem;
    }

    .external-links {
        margin-bottom: 4rem;
    }
}

.project-name {
    display: flex;
    align-items: center;
    margin: 0;
    height: 1em;
    width: 4em;
    max-width: 80vw;

    &>a {
        flex: 1;
    }
}

.project-logo {
    height: 100%;
    width: 100%;
}

.project-tagline {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.external-links {
    margin: 0 0 0 1rem;

    @include small {
        margin: 1rem 0 0 0;
    }
}

.btn {
    color: #fff;
    border: 1px solid $theme-dark-red-color;
    color: $theme-dark-red-color;
    margin: 0;

    &:hover {
        background: $theme-dark-red-color;
        border-color: $theme-dark-red-color;
        color: #fff;
    }
}

.bg-lights {
    background: -webkit-linear-gradient(70deg, $header-bg-color-primary  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, $header-bg-color-secondary 60%, $header-bg-color-tertiary 60%);
    background: -o-linear-gradient(70deg, $header-bg-color-primary  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, $header-bg-color-secondary 60%, $header-bg-color-tertiary 60%);
    background: -moz-linear-gradient(70deg, $header-bg-color-primary  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, $header-bg-color-secondary 60%, $header-bg-color-tertiary 60%);
    background: linear-gradient(70deg, $header-bg-color-primary  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, $header-bg-color-secondary 60%, $header-bg-color-tertiary 60%);
}
