// Headers
$header-heading-color: #fff;
$header-bg-color: #1565C0;
$header-bg-color-secondary: #af1919;

// Text
$section-headings-color: #af1919;
$body-text-color: #606771;
$body-link-color: #1565C0;