// Theme
$theme-light-blue-color: #005d88;
$theme-dark-blue-color: #00293C;
$theme-light-red-color: #f62a00;
$theme-dark-red-color: #af1919;

// Headers
$header-heading-color: $theme-dark-blue-color;
$header-bg-color-primary: #e0ebf1;
$header-bg-color-secondary: #eaf2f6;
$header-bg-color-tertiary: #f1f8fb;
$header-border-color: $theme-light-blue-color;
$header-border-color-secondary: $theme-light-red-color;

// Text
$section-headings-color: #af1919;
$body-text-color: #606771;
$body-link-color: #1565C0;